**/Drivers/
**/EWARM/
embedded/.metadata/
**/.settings
notebooks/.ipynb_checkpoints
*.s
*.o
*.su
*.ld
**/Debug
**/stm32f7xx_hal_msp.c
**/stm32f7xx_hal_msp.c
**/stm32f7xx_hal_conf.h
**/stm32f7xx_it.h
**/stm32f7xx_it.c
**/sysmem.c
**/syscalls.c
**/system_stm32f7xx.c